body {
	margin:0;
	font: 75% "Helvetica", arial, sans-serif;
}
.toolbar {
	height: 40px;
	background: #666;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.toolbar a {
	display: inline-block;
	background: #999;
	padding:0 6px;
	line-height: 28px;
	margin: 6px;
	margin-right: 0;
	color: #333;
	text-decoration: none;
	text-shadow: 0 1px 0 hsla(255, 0%, 100%, 0.5);
	box-shadow: 0 1px 1px hsla(255, 0%, 0%, 0.5);
	border-radius: 2px;
	-webkit-transition: 100ms opacity;
	transition: 100ms opacity;
	opacity: 0.2;
}

.toolbar.enabled a {
	opacity: 1.0;
}

.toolbar.enabled a:hover {
	background: #CCC;
}

.toolbar.enabled a:active {
	background: #AAA;
	box-shadow: inset 0 1px 0 hsla(255, 0%, 0%, 0.5);
}

.media-library {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 140px;
	background: #333;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.media-thumb {
	display: inline-block;
	width: 124px;
	height: 120px;
	background: url(check.png) #FFF;
	margin: 10px;
	margin-right: 0;
	border: 2px solid #333;
	border-radius: 2px;
}

.media-thumb.selected {
	border-color: hsl(50, 100%, 50%);
}

.media-thumb img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
}

.canvas {
	position: absolute;
	top: 40px;
	left: 180px;
	right: 0;
	bottom:140px;
	background: #CCC;
	cursor: default;
	background: url(check.png) #EEE center center;
	overflow: auto;
}

.canvas > div {
	box-shadow: 0 0 10px hsla(0, 0%, 0%, 1);
	position: absolute;
}

.layers {
	position: absolute;
	top: 40px;
	left: 0;
	width: 180px;
	bottom: 140px;
	background: #CCC;
	box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.25);
	overflow-x: none;
	overflow-y: auto;
}

.layers > div {
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
	border-top: 1px solid hsla(0, 0%, 100%, 0.25);
	height: 60px;
	position: relative;
}

.layers > div.selected {
	background: #DDD;
}

.layers > div > canvas {
	background: url(check.png) white top left;
	position: absolute;
	left: 5px;
	top: 5px;
	border: 1px solid #000s;
}

.canvas canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.layers a[href="#delete"] {
	text-decoration: none;
	position: absolute;
	height: 26px;
	width: 26px;
	border-radius: 100%;
	background: #999;
	top: 28px;
	right: 5px;
	-webkit-transform: translate(0, -13px);
	-moz-transform: translate(0, -13px);
	opacity: 0.5;
	color: #FFF;
}

.layers a[href="#delete"]:hover {
	background: #C00;
}


.layers a[href="#delete"]::before {
	content: "×";
	position: absolute;
	top: 1px;
	left: 7px;
	font-size: 18px;
}

.layers > div:hover a {
	opacity: 1;
}
